body{
    margin:2% ;
  }
li{
    border: 1px solid #282c34;
    width: 98.7%;
    padding: .5%;
    list-style: none;
    margin-bottom: .5%;
    background-color: #f5f5dc;
  }
input{
      width: 25%;
      padding: .5%;
      background-color: #d2ecf3;
    }
.box{
      background-color: rgb(238, 231, 231);
      width: 55%;
    }
label{
      float: left;
      width: 5em;
      text-align: right;
      color: black;
    }
  
  